<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/header.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <a href="{{ url_for('home') }}">Full</a>
        <a href="{{ url_for('home_lite_route') }}">Lite</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <a href="/register">Don't have an account? Register</a>
</body>
</html>
